body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
li{
    display: inline;
    margin-right:30px ;
}
header{
    background-color:lightgreen;
    padding: 10px;
}
img{
    border-radius: 50%;
}
#Portfolio{
background-color: lightskyblue;
margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
footer{
    background-color: palevioletred;
    
}